<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1" />
  <meta name="description"
        content="Mean Girls Ipsum - Sassy lorem ipsum generator (useful for web design, web development, print
          design, inspiration, and geek stuff) Inspired by Mean Girls and quotes from the screenplay by Tina Fey.">
  <meta name="keywords"
        content="mean girls, lorem ipsum, generator, quotes, geek, technology, design, web design, web designer, web development, programming, coding, code">
  {{!-- <link rel="stylesheet"
        href="/styles/reset.css"> --}}
  <link href="https://fonts.googleapis.com/css?family=Raleway:300i|Rock+Salt&display=swap"
        rel="stylesheet">
  <link rel="stylesheet"
        type="text/css"
        href="/styles.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="/mean-girls-ipsum/public/styles/reset.css"
        media="screen"
        title="no title"
        charset="utf-8">

  <link rel="stylesheet"
        href="styles/styles.css"
        media="screen"
        title="no title"
        charset="utf-8">
  <link rel="icon"
        type="image/png"
        sizes="32x32"
        href="/favicon.ico">
  <title>Mean Girls Ipsum</title>
</head>

<body>
  <div>
    {{{body}}}
  </div>

<!--sharexy code start-->
<div id='shr_351800'>
  <script
          type='text/javascript'>(function (w) { if (!w.SharexyWidget) { w.SharexyWidget = {}; } if (!w.SharexyWidget.Params) { w.SharexyWidget.Params = {}; } w.SharexyWidget.Params['351800'] = { 'code_id': '351800', 'publisher_key': 'undefined', 'design': 'roundedlongshadows', 'layout_static': 'h', 'type': 'stf', 'mode_float': 'l', 'size_float': '60', 'size_static': '32', 'buzz': '0', 'services': ['facebook', 'twitter', 'linkedin', 'tumblr', 'reddit', 'google_plus', 'send_to_email', 'print_page'], 'url': 'current', 'allways_show_ads': '0', 'show_ads_sharing': '0', 'show_ads_cursor': '0', 'bg_float': '0', 'bg_color': '#f1f1f1', 'labels': '', 'counters': '0', 'counters_float': '0' } })(window);</script>
  <script type='text/javascript'
          src='http://shuttle.sharexy.com/LoaderLite.js'></script>
</div><a href='http://sharexy.com/'><img src='http://sharexy.com/statpixel.png'
       style='border: 0' /></a>
<!--sharexy code end -->

  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  <script src="/js/index.js"></script>
</body>

</html>