<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1" />
  <meta name="description"
        content="Mean Girls Ipsum - Sassy lorem ipsum generator (useful for web design, web development, print
          design, inspiration, and geek stuff) Inspired by Mean Girls and quotes from the screenplay by Tina Fey.">
  <meta name="keywords"
        content="mean girls, lorem ipsum, generator, quotes, geek, technology, design, web design, web designer, web development, programming, coding, code">
   <link rel="stylesheet"
        href="/styles/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300i|Rock+Salt&display=swap"
        rel="stylesheet">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
   
  <link rel="stylesheet" href="../styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
  <title>Mean Girls Ipsum</title>
</head>

<body>
  <div>
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  <script src="/js/index.js"></script>
</body>

</html>