<div class="homepage">
  <div id="page-wrapper">


          <form method="post">

            <h3>Number of Paragraphs</h3>

            <input type="input" id="para" name="paragraphs" value="3" size="6" class="ipso"><br /><br />


            <button type="button" id="butt" value="FETCH">FETCH
            </button>


          </form>

        </section>


      </div>




      <!-- Features -->
      <section class="boxFeatures">
        <h2 class="major">Mean Quotes Below</h2>

            <!-- Features -->
            <section class="box features">
              <h2 class="major"><span>Mean Quotes Below</span></h2>
              <div>
                <div class="row">
                  <div class="12u">
                    <div id="lorem" class="copyable">
                      {{#each ipsum}}
                      <p>{{this}}</p>
                      {{/each}}                      
                    </div>
                    
                  </div>
                </div>
              </div>
              <button class="button-copytext" onclick="copyToClipboard('.copyable')">Copy to Clipboard</button>
            </section>
          </div>
        </div>


    </div>
  </div>

  <!-- Footer -->
  <footer id="footer" class="container">

