<div id="page-wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo container">
      <div>
        <h1><a href="index.html" id="logo">Mean Girls Ipsum</a></h1>

      </div>
    </div>
    {{!-- <p id="quote-header">Raise your hand if you have ever been personally victimized by Regina George.</p> --}}
  </header>


  <!-- Banner -->
  <div id="banner-wrapper">
    <section id="banner">
      <h2>Welcome to Mean Girls Ipsum</h2>
      <p>Generate random filler text exclusively from Mean Girls quotes.</p>
      <a href="#cc" class="button">Let's make FETCH happen!</a>
    </section>
  </div>

  <!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">
      <div class="row 200%">


        <!-- Highlight -->
        <section class="box highlight">

          <header id="cc">
            <h2>Get In Loser</h2>
            <p>We're Going Shopping</p>
          </header>

          <form method="post">

            <h3>Number of Paragraphs</h3>

            <input type="input" id="para" name="paragraphs" value="3" size="6" class="ipso"><br /><br />


            <button type="button" id="butt" value="FETCH">FETCH
            </button>


          </form>

        </section>


      </div>




      <!-- Features -->
      <section class="boxFeatures">
        <h2 class="major">Mean Quotes Below</h2>

        <div class="row">
          <div id="lorem">
            {{#each ipsum}}
            <p>{{this}}</p>
            {{/each}}

          </div>

        </div>

      </section>



    </div>
  </div>

  <!-- Footer -->
  <footer id="footer" class="container">



    <!-- Social Media Sharing Widget: -->
    <script src="https://apps.elfsight.com/p/platform.js"></script>
    <div class="elfsight-app-4abbe6dd-5e2d-418a-bc4b-e9a35080f601"></div>

  </footer>

</div>